body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f599b, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f599b, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color: #2C3E50;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    color: white;
    text-align: left;
}

#about {
    background-color: black;
}

.bg-dark {
    background-color: #c11727 !important;
}